.outer-container {
    width: 100%;
    height: 90vh;
    background-image: url("../img/contact-page-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-title {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    margin-bottom: 40px;
}

.content-title h1 {
    margin-bottom: 10px;
}

.container {
    width: 85%;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 10px;
}

.content .left-side .details h2 {
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
}

.content .left-side .details p {
    font-size: 14px;
    color: azure;
    margin-top: 10px;
}

.content .right-side {
    width: 75%;
    margin-left: 75px;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.input-box input,
.input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.message-box {
    min-height: 110px;
}

.input-box textarea {
    padding-top: 15px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.button input {
    color: rgb(0, 0, 0);
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #ececec;
    cursor: pointer;
}

.button input:hover {
    background: #9e9e9e;
}